/**
 * -------------------
 *  Defult CSS
 * -------------------
 */
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family:            $font-1;
    font-size:              14px;
    font-style:             none;
    line-height:            24px;
    font-weight:            500;
    overflow-x:             hidden !important;
    text-align:             left;
    position:               relative;
    color:                 $paragraph-color;
    opacity:                0.9;

    // &.dark-vertion {
    //     color: $white;
    //     a, h2, h3, h4, h5. h6, p, address, span {
    //         color: $white;
    //     }
    // }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-1;
}

p {
    opacity: 0.9;
}

.nav li a {
    text-decoration:    none !important;
    display:            inline-block;
    cursor:             pointer;
    // font-family:        $font-2;
    padding:            0px;
    background-color: transparent;
    @include transition(color .3s ease);

    &:hover {
        // color: $main-color-1;
        background-color: transparent;
    }

    &:focus {
        background-color: transparent;
        outline: 0 !important;
    }
}
a {
    text-decoration:    none !important;
    cursor:             pointer;
    // font-family:        $font-2;
    padding:            0px;
    background-color: transparent;
    @include transition(color .3s ease);
    color: $black;
    opacity: 0.9;

    &:hover {
        // color: $main-color-1;
        background-color: transparent;
    }

    &:focus {
        background-color: transparent;
        outline: 0 !important;
    }
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

// .shadow-m {
    // @include box-shadow( 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12), false);
// }

// .shadow {
//     @include box-shadow(0px,0px,60px,-6px, rgba($white, 0.2), false);
// }
// .shadow-1 {
//     @include box-shadow(0px,0px,10px,0px, rgba($white, 0.2), false);
// }
// .shadow-2 {
//     @include box-shadow(0px,0px,1px,0px, rgba($white, 0.2), false);
// }

// .black-shadow {
//     @include box-shadow(0px,0px,60px,-6px, rgba($black, 0.2), false);
// }
// .black-shadow-1 {
//     @include box-shadow(0px,0px,10px,0px, rgba($black, 0.2), false);
// }
// .black-shadow-2 {
//     @include box-shadow(0px,0px,1px,0px, rgba($black, 0.2), false);
// }



/**
 * ---------------------
 *  Defult Halping Class
 * ---------------------
 */
.overflow{
    overflow:           hidden;
}

.relative {
    position: relative;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-flex {
    display: flex;
    flex: 1;
}

.vertical-middle {
    display: table-cell;
    float: none;
    vertical-align: middle;
}



/**
 * --------------------------------------
 *  Video Section Background Defult Style
 * --------------------------------------
 */
.section-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: -1;

    .bgvid {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
    }
}

.body-video-bg {
    > .section-video {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.section-title {
    text-align: center;

    h3 {
        font-size: 30px;
        line-height: 40px;
        color: $white;
        font-weight: bold;
        margin-bottom: 60px;
    }
}



/**
 * ------------------------------------
 *  Every Section Headline Defult Class
 * ------------------------------------
 */
.section-heading {
    // color: fade($light-color, 100%);
    display: block;
    margin: 0;
}

.section-header {
    margin-bottom: 100px;
    text-align: center;

    .sub-heading {
        font-size: 22px;
        line-height: 30px;
        font-weight: 300;
        text-transform: uppercase;
        // color: fade($light-color, 100%);
        margin: 0 0 10px 0;
    }

    &.text-left {
        &,
        * {
            text-align: left;
        }
    }
    &.text-right {
        &,
        * {
            text-align: right;
        }
    }
}

.section-header-separator {
    position: relative;
    width: 145px;
    margin: 5px auto;
    display: inline-block;

    .icon {
        font-size: 48px;
        // color: $light-color;
        text-align: center !important;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 57px;
        height: 2px;
        // background-color: $main-color-1;
        top: 25px;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}



.v-middle {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.mini-separator {
    padding: 20px 0;
}


/**
 * ---------------------
 *   Defult Button Style
 * ---------------------
 */
.btn {
   @include transition(color .3s ease);
    outline: 0;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 20px;
    &:last-child {
        margin-right: 0px !important;
    }

    &:hover,
    &:focus {
        // color: $light-color;
    }

    .icon {
        position: relative;
        top: 2px;
        img {
            position: relative;
            top: -3px;
            width: 14px;
        }
    }

    &.btn-fill {
        background-color: $main-color;
        color: $white;
    }

    &.left-icon {
        .icon {
            margin-right: 15px;
        }
    }

    &.right-icon {
        .icon {
            margin-left: 15px;
        }
    }

    &.white-btn-border {
        // font-size: 24px;
        // font-weight: 300;
        // border: 1px solid;
        // padding: 18px 25px;

        &:hover {
            // border-color: darken($main-color-1, 5%);
        }
    }

    &.btn-border {
        background-color: transparent;
        // border-color: fade($light-color, 100%);

        &:hover {
            // background-color: darken($main-color-1, 5%);
        }
    }
    &.white-btn-border {
        background-color: transparent;
        border-color: $white;

        &:hover {
            // background-color: darken($main-color-1, 5%);
        }
    }

    &.btn-round {
        padding: 15px;
        // background-color: $main-color-1;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        // color: fade($light-color, 100%);
        font-size: 24px;
        text-align: center;
        // .box-shadow(0 13px 42px 0 fade($shadow-color, 25%));

        .icon {
            top: 7px;
        }
    }

    &.apple,
    &.androad {
        @include border-radius-mixin(3px);
        padding: 9px 28px;
        height: 82px;
        // background: $background-1;
        // border-color: $background-1;

        img {
            width: 35px;
            height: 100%;
            float: left;
        }

        .icon {
            font-size: 60px;
            float: left;
        }

        span {
            display: block;
            @include transition(color .3s ease);
        }

        .group {
            float: right;
        }

        .big,
        .small {
            text-align: left;
            margin-left: 7px;
            line-height: 30px;
        }

        .big {
            font-size: 24px;
            font-weight: 400;
        }

        .small {
            font-size: 16px;
        }

        &:hover {
            // background-color: $main-color-1;
            // border-color:  $main-color-1;
        }
    }

}




.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
    // color: $light-color;
}

.btn-text-link {
    padding: 50px 0 0 0;
    text-align: center;
    // color: fade($dark-color, 85%);

    a {
        // color: $main-color-1;
        margin-left: 10px;
    }
}




/**
 * -----------------
 * Social Icon Style
 * -----------------
 */
.social-icon {
    // margin-top: 15px;
    display: inline-block;

    li {
        list-style: none;
        float: left;
        margin-bottom: 0px;
        margin-right: 8px;

        a {
            // font-size: 25px;
            text-align: center;
            width: 45px;
            height: 45px;
            padding: 10px;
            border-radius: 50%;
            // background-color: $main-color-1;
            // color: fade($light-color, 100%);

            &:hover,
            &:focus {
                // background-color: $main-color-3;
                // color: $light-color;
            }
        }

        &:last-child {
            a {
                margin-right: 0px;
            }
        }
    }
}



/**
 * -----------------------------------
 * Subscription and contact  "MESSAGE"
 * -----------------------------------
 */
.message {
    .inner {
        // background-color: $background-2;
    }
}
.subscription-success,
.subscription-failed,
.email-success,
.email-failed,
.email-loading {
    font-size: 15px;
    display: none;
    text-align: center !important;
    padding: 10px !important;
}

.email-loading {
    color: #52B8FF;

    img {
        width: 15px;
        position: relative;
        top: -2px;
    }
}

.subscription-failed,
.email-failed{
    color: #FF5252 !important;

    .icon {
        font-size: 20px;
        position: relative;
        top: 5px;
    }
}

.subscription-success,
.email-success {
    color: #56CC35;
}

.subscription-failed,
.email-failed,
.subscription-success,
.email-success {
    .icon {
        font-size: 20px;
        position: relative;
        top: 5px;
    }
}




/**
 * ------------------
 * list
 * ------------------
 */

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}


/**
 * =================
 * CONTAINER HALF CONTENT
 * =================
 */
.content-half {
    position: relative;
}


.container-half-left {
    left: 0;
    background-position: center right;
}

.container-half-right {
    right: 0;
    background-position: center left;
}

.vertical-middle-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}


/**
 * ---------------------------------
 *  Section Background Size Property
 * ---------------------------------
 */
.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
}

.dark-bg {
    background-color: $black-bg;
}

.section-separator {
    padding: 60px 0;
    padding-top: 100px;
}
.home-section-separator {
    padding-top: 100px;
    padding-bottom: 200px;
}

.bg-black  {
    background-color: $balck-bg-deep;
}

.form-control {
    // @include box-shadow(0px, 0px, 1px, 0px, rgba($white, 0.2), false);
    @include box-shadow($color-shadows-contact);
    background-color:  transparent;
    border-color: transparent;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    &:focus {
        // @include box-shadow(0px, 0px, 2px, 0px, rgba($white, 0.2), false);
        @include box-shadow($color-shadows-contact);
        background-color: transparent;
    }
}

.p-200 {
    padding: 0 200px;
}

.img-overlay {
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
}

.image-bg {
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
}

.home-2-img {
    background-image: url(../images/home-bg-img.jpg);
}

.featured-img-one {
    background-image: url(../images/home-bg-img.jpg);
}
.featured-img-two {
    background-image: url(../images/extra-feature-bg.jpg);
}
.map-image {
    background-image: url(../images/map-color-overlay.png);
}


.mt-30 {
    margin-top: 30px;
}

button {
    outline: 0;
    &:hover {
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
}
.btn {
    outline: 0;
    &:hover {
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
}
.round-image {
    border-radius: 50%;
}

.form-control {
    padding: 20px;
    @include box-shadow($color-shadows-contact-2x);
    &:focus {
        // @include box-shadow(0px, 0px, 2px, 0px, rgba($main-color, 1), false);
       @include box-shadow($color-shadows-contact-2x);
        border-color: transparent;
    }
}
.contact-message {
   @include box-shadow($color-shadows-contact-2x);
    background-color:  transparent;
    border-color: transparent;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    outline: 0;
    &:focus {
       @include box-shadow($color-shadows-contact-2x);
        border-color: transparent;
    }
}

.mh-black-overlay {
    background-color: rgba($black, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
