/*
================
 VARIABLES
================
*/

//Background Color

$black-bg:    #212027;

// Gradient Color Variables
// $main-color-1:      #008ED6;            // Mostly Used Text Color
// $main-color-2:      #2E3CFA;            // Mostly Used Gradient Background Color
// $main-color-3:      #FD3537;            // Mostly Used Gradient Background Color

// Text Color
$light-color:       #FFFFFF;            // Light Color
$dark-color:      	#282828;            // Dark Color

// Button Color
$button-color: 		#000031;

// Background-color
$background-1:      #111111;            // Mostly Used Light Background Color
$background-2:      #242424;            // Mostly Used Light Background Color


// Other Defult Color
$shadow-color:      #000000;

// Defult Broder Radius
$border-radius:     5px;

//Font
$font-1: 'Kanit', sans-serif;
$font-2: 'Kanit', sans-serif;

$black: #000;
$bdb: #bdbdbd;
$black-bg: #202026;
$black-bg-light: #2e3037;
$black-bg-deep: #292b31;
$footer-bg: #2a2f36;
$white: #fff;
$main-color-1: #6D40e3;
$bg-2: #fafafa;
$bg-3: #f9f9f9;
$f-icon-bg: #383c43;
$main-color: #0bceaf;
// $main-color: #f25454;
$body-bg: #f6f6f6;
$circle-bg: #4c555b;
$form-bg: #313137;
$form-border: #494949;
$btn-color-2: #6227e7;
$paragraph-color: #999999;
$sub-header-black: #757575;
$gradient-1: #85d9d2;
$balck-bg-deep: #000;
